@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "EfourDigital";
  src: url("/fonts/efour-digital-font/Entertainment4DigitalFont-YWBo.ttf")
       format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "EfourDigital" !important;
}



body {
  background: var(--background);
  color: var(--foreground);
}




@keyframes breathe {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(56, 189, 248, 0);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(56, 189, 248, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(56, 189, 248, 0);
  }
}

.breathe {
  animation: breathe 3.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-60px) translateX(30px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.animate-float {
  animation-name: float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
